{{ > templates/header}}

<div class="row">
    <div class="col-12">
        <h2>Recommended for you</h2>
    </div>
</div>

<div class="row g-2">
    <div class="col-md-6 col-sm-12 show">
        <div class="show-lg">
            <div class="show-lg-content container">
                <div class="info-bubble">
                    <span class="info-bubble-text live">LIVE</span>
                </div>
                <span class="show-title-lg">Ári að Orsdá 2021</span>
                <p class="show-desc" style="margin-bottom: 0;">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
            </div>
        </div>
        <!--<img style="width: 100%;" class="show-lg" src="https://i.ytimg.com/vi/5JKKYSpyzGI/maxresdefault.jpg">-->
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/ajBb0qIchNU/maxresdefault.jpg">
        <span class="show-title">June 2021 Election Results</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/NZtZdmzcWg0/maxresdefault.jpg">
        <span class="show-title">January 2022 Showcase</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
</div>

<div class="row g-2">
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/Kny4cozr3YA/maxresdefault.jpg">
        <span class="show-title">Iceland Update</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/5JKKYSpyzGI/maxresdefault.jpg">
        <span class="show-title">Yet Another Ceremony 2020</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/sPnv3OnOnhQ/maxresdefault.jpg">
        <span class="show-title">Birthday Montage 2019</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/YERG1sosph0/maxresdefault.jpg">
        <span class="show-title">"new cc staff group" Adventures</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
</div>

<div class="row" style="margin-top: 70px;">
    <div class="col-12">
        <h2>
            Monthly Showcases
            <span style="margin-left: 15px; color: rgba(255,255,255,0.2); font-weight: 300;">|</span>
            <span><a href="#" style="margin-left: 15px; color: #11b4c7; font-weight: 400; text-decoration: none;">View all</a></span>
        </h2>
    </div>
</div>

<div class="row g-2">
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/NZtZdmzcWg0/maxresdefault.jpg">
        <span class="show-title">January 2022 Showcase</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/BRGP24S7LnE/maxresdefault.jpg">
        <span class="show-title">July 2021 Showcase</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/kyJ1368IEpM/maxresdefault.jpg">
        <span class="show-title">May 2021 Showcase</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/ADd_qBLkXgE/maxresdefault.jpg">
        <span class="show-title">April 2021 Showcase</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
</div>

<div class="row" style="margin-top: 70px;">
    <div class="col-12">
        <h2>
            Anouncements
            <span style="margin-left: 15px; color: rgba(255,255,255,0.2); font-weight: 300;">|</span>
            <span><a href="#" style="margin-left: 15px; color: #11b4c7; font-weight: 400; text-decoration: none;">View all</a></span>
        </h2>
    </div>
</div>

<div class="row g-2">
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/Kny4cozr3YA/maxresdefault.jpg">
        <span class="show-title">Iceland Update</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/i4fmobQfo1I/maxresdefault.jpg">
        <span class="show-title">7/4/2021 Broadcast</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/s934clzMNBI/maxresdefault.jpg">
        <span class="show-title">4/2/2021 Broadcast</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/jEnNN0lzCuA/maxresdefault.jpg">
        <span class="show-title">23/1/2021 Broadcast</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
</div>

<div class="row" style="margin-top: 70px;">
    <div class="col-12">
        <h2>
            Events
            <span style="margin-left: 15px; color: rgba(255,255,255,0.2); font-weight: 300;">|</span>
            <span><a href="#" style="margin-left: 15px; color: #11b4c7; font-weight: 400; text-decoration: none;">View all</a></span>
        </h2>
    </div>
</div>

<div class="row g-2">
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/dH_ECCWm4Tc/maxresdefault.jpg">
        <span class="show-title">Ári að orsdá 2021</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/ruLLWVkIOpc/maxresdefault.jpg">
        <span class="show-title">Tivoli Interval (200-day Party)</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/qqNyzHY9GeM/maxresdefault.jpg">
        <span class="show-title">Themepark Interval (100-day Party)</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/5JKKYSpyzGI/maxresdefault.jpg">
        <span class="show-title">Yet Another Ceremony 2020</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
</div>

<div class="row" style="margin-top: 70px;">
    <div class="col-12">
        <h2>
            Anniversaries
            <span style="margin-left: 15px; color: rgba(255,255,255,0.2); font-weight: 300;">|</span>
            <span><a href="#" style="margin-left: 15px; color: #11b4c7; font-weight: 400; text-decoration: none;">View all</a></span>
        </h2>
    </div>
</div>

<div class="row g-2">
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.imgur.com/Zd3GgJl.png">
        <span class="show-title">Ári að Orsdá 2022</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/dH_ECCWm4Tc/maxresdefault.jpg">
        <span class="show-title">Ári að Orsdá 2021</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/5JKKYSpyzGI/maxresdefault.jpg">
        <span class="show-title">Yet Another Ceremony 2020</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/sPnv3OnOnhQ/maxresdefault.jpg">
        <span class="show-title">Birthday Montage 2019</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
</div>

<div class="row" style="margin-top: 70px;">
    <div class="col-12">
        <h2>
            Presidential Elections
            <span style="margin-left: 15px; color: rgba(255,255,255,0.2); font-weight: 300;">|</span>
            <span><a href="#" style="margin-left: 15px; color: #11b4c7; font-weight: 400; text-decoration: none;">View all</a></span>
        </h2>
    </div>
</div>

<div class="row g-2">
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/p6UFzVcHP-c/maxresdefault.jpg">
        <span class="show-title">March 2022 Election Results</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/qdInWScKcGE/maxresdefault.jpg">
        <span class="show-title">August 2021 Election Results</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
    <div class="col-md-3 col-sm-6 show">
        <img style="width: 100%;" class="show" src="https://i.ytimg.com/vi/ajBb0qIchNU/maxresdefault.jpg">
        <span class="show-title">June 2021 Election Results</span>
        <p class="show-desc">Ut tortor magna convallis sit amet vestibulum ac blandit vel sem</p>
        <p class="show-time">1 H 58 MIN <span style="margin-left: 10px;">LA 16.4. KLO 21.01</span></p>
    </div>
</div>

<style>
    img.show:hover, div.show-lg:hover {
        opacity: 0.6;
        transition: opacity 0.2s ease-in-out;
    }
    img.show {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
        margin-bottom: 15px;
    }
    img.show-lg {
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
        margin-bottom: 8px;
    }
    div.show {
        cursor: pointer;
    }
    .show-title {
        font-weight: 600;
        font-size: 16px;
    }
    .show-desc {
        font-weight: 200;
        font-size: 14px;
        opacity: 0.7;
    }
    .show-time {
        font-weight: 200;
        font-size: 13px;
        opacity: 0.6;
    }

    div.show-lg {
        background-image: url("https://i.ytimg.com/vi/dH_ECCWm4Tc/maxresdefault.jpg");
        background: linear-gradient(to bottom, rgba(0,0,0,0) 60%,rgba(0, 0, 0, 0.6) 90%), url("https://i.ytimg.com/vi/dH_ECCWm4Tc/maxresdefault.jpg");
        aspect-ratio: 1280 / 720;
        margin-bottom: 8px;
        background-size: cover;
        transition: opacity 0.2s ease-in-out;
        display: flex;
    }
    div.show-lg-content {
        align-self: flex-end;
        padding: 20px;
    }
    .show-title-lg {
        font-size: 18px;
        font-weight: 600;
    }
    .info-bubble-text {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.5px;
        padding: 2px 4px 2px 4px;
        background-color: #fff;
        border-radius: 6px;
    }
    .info-bubble {
        margin-bottom: 5px;
    }
    .info-bubble-text.live {
        color: #f00;
    }
</style>

{{ > templates/footer}}